<%- include('./partials/header') %>
<%- include('./partials/user-tab') %>
<%- include('./partials/sidebar') %>
<%- include('./partials/back') %>

<main>
    <h1>User Profile</h1>
    <h4>Howdy</h4>

    <%- include('./partials/profile') %>
</main>

<%- include('./partials/footer') %>